.cards-products {
    padding-top: 40px;
    padding-bottom: 40px;

    &__title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }
}

.card-product {
    &__image-box {
        position: relative;
        padding-bottom: 68%;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: contain;
        }
    }

    &__details {
        padding: 10px;
    }

    &__name {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
    }

    &__color {
        font-size: 14px;
        color: #6d6d6d;
        margin-bottom: 10px;
    }

    &__buy-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-weight: 600;
        color: #006f62;
    }

    &__add-button {
        padding: 10px 15px;
        background-color: #03a592;
        color: #fff;
    }
}

.card-product__favorite-icon {
  color: gray;
}

.card-product__favorite-icon.selected {
  color: rgb(255, 208, 0);
}