.header {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 -13px 19px 13px rgba(26,42,62,.3);

    &__block {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icons {
        display: flex;
        column-gap: 20px;
    }
}